




.site-logo {
	margin: 10px 10px 10px 0;
}

.site-name {
	margin: 0 0 2px 0;
	color: #595959;
	font-size: 24px;
	font-weight: normal;
	line-height: 1;
	margin-top: 10px;
}


.site-tagline {
	color: #595959;
}

.logo-left .logo-box {
	float: left;
	text-align: left;
}

.logo-right .logo-box {
	float: right;
	text-align: right;
}

.logo-center .logo-box {
		float: none;
		text-align: center;
		margin: 10px 0;
}

.fxd-header.logo-center .logo-box {
	display: none;
}

.name-box {
	float: left;
}

.name-box a {
	text-decoration: none;
}

footer,
header
div{
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;	
}

blockquote footer {
	padding-left: 20px;
}

.main-header {
	background-color: transparent;/*optional*/
	background-image:;/*optional*/
	color: #555; /*optional*/
	width: 100%;
	border-bottom: 1px solid transparent;
}

.main-header.style2{
	border-bottom:none;
	}

/*
 * 3.0 Footer
 */


footer {
	color: black;
	font-size: 12px;
}

footer a {
	color: #c5c7c9;
}

footer a:hover {
	text-decoration: underline;
}

.footer-widget-area {
	background-color: #252525;
	padding: 60px 0 40px;
}

.footer-widget-area .widget-title {
	color: #fff;
}

.footer-widget-area .widget-search {
	border-color: #fff;
	max-width: 180px;
}

.footer-widget-area .widget-sns i {
	color: #fff;
	border-color: #fff;
}

.footer-widget-area .widget-sns i:hover {
	background-color: #fff;
	color: #19cbcf;
}

.footer-info-area {
	padding: 40px 0;
	background-color: #000;
}


.fxd-footer {
    margin-bottom: 136px;
}

.fxd-footer .footer-info-area {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
	z-index: 3;
}

