<?php
    define('SITE_URL', 'http://localhost/nagarsevak_report_card/');
    
    define('HOST', 'localhost');
    define('USERNAME', 'root');
    define('PASSWORD', '');
    define('DATABASE', 'nrc');

    date_default_timezone_set('Asia/Kolkata');

    ini_set("memory_limit", -1);

    $con = mysqli_connect(HOST, USERNAME, PASSWORD, DATABASE);
    if (!$con) {
        die('Could not connect: ' . mysqli_error($con));
    }

    mysqli_select_db($con, DATABASE);

    error_reporting(E_ERROR);

    $contentBuffer = [];

    function print_r_pre($data = []){
        echo "<pre>";
        print_r($data);
        echo "</pre>";
    }

    function moneyFormatIndia($string = ""){
        $amount = [];

        list($str_int, $str_point) = explode(".", $string);

        $str = strrev($str_int);
        for ($i=0; $i < strlen($str); $i++) { 

            $amount[] = $str[$i];

            if(($i+1) == 3){
                $amount[] = ",";
            }
            elseif(($i+1) >= 5  && ($i+1)%2 !== 0){
                $amount[] = ",";
            }
        }
        $amount = array_reverse($amount);
        if($amount[0] == ",") $amount[0] = "";
        $amount = implode("", $amount) . "." . $str_point;
        return $amount;
    }
?>