<?php

define('SITE_URL', 'localhost/nagarsevak_report_card/');
define('PROJ_DIR', '/www/nagarsevak_report_card/');

date_default_timezone_set('Asia/Kolkata');

// db constants
define('HOST', 'localhost');
define('USERNAME', 'root');
define('PASSWORD', 'mysecret');
define('DATABASE', 'nrc');
// Create a file named db_connection.php in the same directory as this file.
// Copy the contents of this file in db_connection.php
// Modify the hostname, username, password and database name for your connection.
$host          = HOST;
$username      = USERNAME;
$password      = PASSWORD;
$database_name = DATABASE;

ini_set("memory_limit",-1);

$con = mysqli_connect($host, $username, $password, $database_name);
if (!$con) {
    die('Could not connect: ' . mysqli_error($con));
}
mysqli_select_db($con, $database_name);
?>