<?php
// Define the email-id through which email should be sent
define('Sender', 'user@example.com');
// Give the password for the above sender email
define('Password', 'secret');
// Give the email id to which all the reported bugs should be emailed
define('Recipient', 'ellen@example.com');
// smtp server for sending email
define('host', 'smtp.gmail.com');
//define('host', 'localhost'); // Use this setting for godaddy. Godaddy uses it's own smtp server to send email.
// Set whether to use SMTP Authentication
define('auth', 'true');
//define('auth', 'false'); // Use this setting for godaddy. Godaddy uses it's own smtp server to send email.
?>